Package: jp.soh.alwayscharging
Name: AlwaysCharging
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Spoof Battery Charging
Maintainer: Soh Satoh
Author: Soh Satoh
Section: Tweaks
