Package: jp.soh.alwayscharging
Name: AlwaysCharging
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Soh Satoh
Author: Soh Satoh
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 136
